/* footer */
.container_full {
   width: 100%;
 }
.footer{
   text-align: center;
   padding: 1rem;
 }
 .link{
   display: inline-block;
   width: 6rem !important;
   height: 6rem !important;
   font-size: 3rem;
 }
 .para {
   font-size: 1rem;
 }
 .linkWraper{
   margin: 0 1rem;
 }
 .anchor{
    width: 60px;
    display: block;
 }
 
