
:root {
  --primary: #38b449;
  --hov-primary: #28a745;
  --soft-primary: rgba(56,180,73,0.15);
  --bg-footer: #111723;
  --bg-primary: #f7f8fa;
  --bg-primar2: #f2f3f8;
}
a,
button,
input,
textarea,
.btn,
.has-transition {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

body {
  background-color: #f7f8fa;
}

main {
  min-height: 80vh;
}
h3 {
  padding: 1rem 0;
}
h1 {
  font-size: 1.8 rem;
  padding: 0.1 rem;
}
h2 {
  font-size: 1.4 rem;
  padding: 0.5rem 0;
}
.rating span {
  margin: 0.1rem;
  font-size: 0.875rem;
}

.tk {
  font-size: 22px !important;
  font-weight: bold;
}
.tk1 {
  font-size: 22px !important;
  font-weight: bold;
}

/* carousel */
.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: flex;
}
.carousel-caption {
  position: absolute;
  top: -015px;
}

.carousel-caption h2 {
  color: #fff;
}

.carosel-product-image {
  height: 320px;
  padding: 10px;
  margin: 40px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}
.carosel-campaign-image {
  height: 400px;
  margin-left: auto;
  margin-right: auto;
}
.carousel-indicators li{
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background-color: var(--bg-primary);
}

.carousel a {
  margin: 0 auto;
}
@media (max-width: 900px) {
  .carousel-caption h2 {
    font-size: 2.5vw;
  }
}

.container {
  padding: 0 !important;
}

.checkout-step{
  color: var(--primary);
  font-weight: 600;
}